<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memories</title>
</head>

{% load static %}

<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/memory_css.css' %}">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">


<body onclick="window.location.href='/';">

    <div class="container-fluid">
        <div class="row align-items-center" id="override-row-mobile">
            <div class="col-md-8" id="override-md-8-mobile">
                <div id="picture-container">
                    {% if memory %}
                        <div id="background">
                            <img class="rotate{{ memory.picture_rotation }} resize" src="{{ memory.picture.url }}" />
                        </div>
                        <audio style="display: none;" controls loop autoplay>
                            <source src="{{ memory.sound.url }}" type="audio/mpeg">
                        </audio>
                    {% else %}
                        <div id="background">
                            <img src="{% static 'images/no-pic-image.png' %}" />
                        </div>
                    {% endif %}
                    <div id="foreground">
                    </div>
                </div>
            </div>


        <div class="col-4 override-col-md-4-desktop" id="override-md-4-mobile">
            {% if memory %}
                <div class="word_box">
                    <h2>{{ memory.text|linebreaks }}</h2>
                </div>
            {% endif %}
        </div>

        </div>
        {% if false %}
            <div class="row align-items-center">
                <div class="col-md-8">
                </div>
                <div class="col-md-4" id="link-div">
                    <h2>test</h2>
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>
