<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memories</title>
</head>

{% load static %}

<link rel="stylesheet" href="{% static 'css/memory_css.css' %}">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

<body onclick="window.location.href='/';">

    <div id="container">
        <div class="images">
            {% if memory %}
                <img class="image rotate{{ memory.picture_rotation }}" src="{{ memory.picture.url }}" />
                <audio style="display: none;" controls loop>
                    <source src="{{ memory.sound.url }}" type="audio/mpeg">
                </audio>
            {% else %}
                <img class="image" src="{% static 'images/no-pic-image.png' %}" />
            {% endif %}
            <img class="background" src="{% static 'images/border-image.png' %}" />
            {% if memory %}
                <div class="word_box">
                    <h2>{{ memory.text }}</h2>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
